<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/backoffice.css" />
    <title>Backoffice</title>
</head>

<body>

    <div class="title">
        <h1>Gestion admin</h1>
        <h3>Ajouter des recettes</h3>
    </div>
    <div class="container">

        <section class="form_container">
            <form class="form_recipe">
                <input type="text" name="title" placeholder="Titre de la recette" required /> <br>
                <textarea name="description" rows="5" placeholder="Dèscription" required></textarea><br>
                <textarea name="message" rows="5" placeholder="Les ètapes de ta recette" required></textarea><br>
                <textarea name="message" rows="5" placeholder="La liste des ingrédients" required></textarea><br>
                <input class="picture" type="file" name="name" placeholder="picture" required />
            </form>
        </section>

        <main class="right_container">

            <select class="option" name="difficulty" id="difficulty">
                <option value="">Choisir la difficulté</option>
                <option value="easy">Facile</option>
                <option value="medium">Moyen</option>
                <option value="hard">Difficile</option>

                <input class="option" type="text" name="time" placeholder="Temps de préparation en minutes" required />
            </select>

        </main>
        <button class="button" type="submit">PUBLIER LA RECETTE</button>

    </div>
</body>


</html>