<footer class="footer">

    <ul class="menu_footer">
        <li class="menu__item"><a class="menu__link" href="/recettes">Recettes</a></li>
        <li class="menu__item"><a class="menu__link" href="/presentation">Qui sommes-nous</a></li>
        <li class="menu__item"><a class="menu__link" href="/cgu">Conditions Générales</a></li>
    </ul>
    <img class="image_logo" src="/img/footer.png" alt="Footer" />
</footer>

</body>

</html>