<footer class="footer">

    <ul class="menu_footer">
        <li class="menu__item"><a class="menu__link" href="/recettes">Recettes</a></li>
        <li class="menu__item"><a class="menu__link" href="/presentation">Qui sommes-nous</a></li>
        <li class="menu__item"><a class="menu__link" href="/cgu">Conditions Générales</a></li>
    </ul>
    <img class="image_logo" src="/img/footer.png" alt="Footer" />
</footer>

<script>

const href = new URL(window.location.href);

const getToken = href.searchParams.get('token');
if(getToken) {
    sessionStorage.setItem("token", getToken);
}

window.addEventListener("DOMContentLoaded", (event) => {
    const logoutLink = document.getElementById('logout');
    if(logoutLink){
        logoutLink.addEventListener('click' , function(event) {
            sessionStorage.removeItem("token");
            window.location = "/" ;
        })
    }
})

</script>

</body>

</html>