<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" src="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css" />

  <link rel="stylesheet" href="/css/header.css" />
  <link rel="shortcut icon" type="image/svg" href="/img/ofood.svg">

  <title>O'Food</title>

</head>

<body>
  <header>
    <nav>
      <div class="banner_logo">
        <a href="/accueil">
          <img class="image_logo" src="/img/logo.png" alt="Logo" />
        </a>
      </div>
      <h1 class="slogan_title">"<span class="span_good">O</span>'Food, <span class="span_good">Good</span> Mood"</h1>

      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-links">
        <li><a href="/accueil">Accueil</a></li>
        <li><a href="/connexion">Connexion</a></li>
        <li><a href="/recettes">Recettes</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/presentation">Qui sommes-nous</a></li>

      </ul>
    </nav>

    <!-- ----------JAVASCRIPT-------->

    <script>
      const hamburger = document.querySelector(".hamburger");
      const navLinks = document.querySelector(".nav-links");
      const links = document.querySelectorAll(".nav-links li");

      hamburger.addEventListener("click", () => {
        navLinks.classList.toggle("open");
        links.forEach(link => {
          link.classList.toggle("fade");
        });
      });
    </script>

  </header>