<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="shortcut icon" type="image/svg" href="/img/logo1.png">

  <title>O'Food</title>

</head>

<body>


  <nav class="navbar">

    <a href="/">
      <img class="imagelogo" src="/img/logo1.png">

    </a>


    <div class=" nav-links">

      <ul>
        <li> <a href="/"> Accueil </a> </li>
        <li> <a href="/connexion"> Connexion </a> </li>
        <li> <a href="/recettes"> Recettes </a> </li>
        <li> <a href="/presentation">Qui sommes-nous ?</a></li>
      </ul>
    </div>
    <img src="../img/menu-hamburger.png" alt="menu hamburger for mobile size" class="menu-hamburger">

  </nav>
  <!-- ----------JAVASCRIPT-------->

  <script>
    const menuHamburger = document.querySelector(".menu-hamburger");
    const navLinks = document.querySelector(".nav-links");

    menuHamburger.addEventListener("click", () => {
      navLinks.classList.toggle("mobile-menu");

      const openStyle = document.querySelector("body");
      openStyle.classList.toggle("overflow");
    });

  </script>