/*----------ADD RECIPE FORM----*/


.title {
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;



}

.container {

    text-align: center;
    margin-bottom: 3rem;
    border-radius: 5px;
    overflow: hidden;
    margin: 3em auto;
    height: auto;
    width: 80%;
    display: flex;
}

.form_recipe {
    display: grid;

}

.form_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80%;
    border-radius: 0.5rem;
    margin: auto;
}

.right_container_dashboard {
    display: flex;
    justify-content: center;
    flex-direction: row;
    grid-row: 2;
    gap: 4rem;
    padding: 20px;
    border-radius: 0.5rem;
    margin-top: 3rem;
}

.subtitle {
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

.difficulty {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    width: 40%;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

.time {
    text-align: center;
    width: 30%;
    margin-bottom: 0.8rem;

}

.button {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #111110;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    margin: auto;
    margin-top: 2rem;
    background-color: #f3f6f7;
}

.button:hover {
    background-color: #cb8112;
    color: white;
    border-color: transparent;
}

@media only screen and (max-width: 600px) and (min-width:400px) {
    .title {
        font-weight: bold;
        font-size: 2.3rem;
        text-align: center;
        margin-top: 1rem;



    }

    .container {
        background-color: #f1f1f1;
        border-radius: 0.8rem;
        margin: 3rem;
        box-shadow: 0 15px 30px 1px rgb(38 38 38);
        margin-left: 3rem;
    }

    .form_recipe {
        display: grid;

    }

    .form_container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 0.5rem;
        margin: auto;
    }

    .right_container_dashboard {
        display: flex;
        justify-content: center;
        flex-direction: row;
        grid-row: 2;
        gap: 4rem;
        padding: 20px;

        border-radius: 0.5rem;
        margin-top: 3rem;
    }

    .subtitle {
        display: flex;
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: bold;
    }

    .difficulty {
        display: flex;
        font-weight: bold;
        font-size: 1rem;
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 0.8rem;
    }

    .time {
        text-align: center;
        width: 30%;
        margin-bottom: 0.8rem;

    }

    .button {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: #111110;
        padding: 0.75rem 1.2rem;
        border-radius: 0.4rem;
        cursor: pointer;
        margin: auto;
        margin-top: 2rem;
        background-color: #f3f6f7;
    }

    .button:hover {
        background-color: #cb8112;
        color: white;
        border-color: transparent;
    }
}