header {
    background: #DFC2F2;
    background-image: linear-gradient(to right, #ffffb3, #ffe6e6);
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    height: 60px;


}

header .image_logo {
    width: 100px;
    border: none;

}


header .slogan_title {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    color: #1276CB;
    font-weight: bold;
    position: inherit;
    top: inherit;
    left: inherit;
    margin: auto;
}

.banner_edito {
    font-family: 'Roboto Slab', sans-serif;

}

.banner_logo {

    display: flex;
    margin: auto;
    margin-left: 20px;
}

.barre {
    height: 2px;
    width: 100%;
    background-color: black;
}

.barre2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: black;
    height: 2px;
}

.image_logo {
    width: 220px;
    border: none;

}

.image_mascotte {
    width: 60px;
    height: 60px;
    display: block;
    padding-left: 70px;
}

.span_good {
    color: #cc812b;
}

.slogan_title {

    font-family: 'Lobster', cursive;
    font-size: 1rem;
    color: #1276CB;
    font-weight: bold;
    text-align: center;
}


/* -----NAVBAR------- */


nav {
    height: 10vh;
    /* background: #5b78c7; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.nav-links {

    list-style: none;
    align-items: center;
    margin-left: auto;
    position: absolute;
    position: fixed;
    height: 100vh;
    width: 0%;

    transition: all 1s ease-out;
    pointer-events: none;
    justify-content: space-around;
    display: none;
    right: 0;
    top: 0;
}

.nav-links li {
    list-style: none;
    width: 0%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}

.nav-links.open {
    background-color: rgba(223, 110, 18, 0.945);
    pointer-events: all;
    opacity: 1;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1s ease-out;
    top: 0;
    align-items: center;
    margin: auto;
    z-index: 1;
}


.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    text-align: center;
    font-weight: 600;
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.4rem;
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
}

.line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
}

.hamburger {
    cursor: pointer;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 20px;
    margin-left: auto;
    transform: translate(-5%, -50%);
    z-index: 2;
}


@media only screen and (max-width: 600px) and (min-width:400px) {
    body {
        width: 100%;
    }



    header .image_logo {
        width: 100px;
        border: none;

    }

    .banner_logo a img {
        width: 64px;
    }


    header .slogan_title {
        font-family: 'Lobster', cursive;
        font-size: 1.5rem;
        color: #1276CB;
        font-weight: bold;
        position: inherit;
        top: inherit;
        left: inherit;
    }

    h2 {
        text-align: center;
    }

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav {
        position: relative;
        width: 100%;
        display: flex;
        margin: auto;
        height: 100px;
    }

    .hamburger {
        cursor: pointer;
        margin-bottom: auto;
        margin-top: auto;
        margin-right: 20px;
        margin-left: auto;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        height: 100vh;
        width: 50%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        position: absolute;
        opacity: 0;
    }


    .nav-links.open {
        background-color: rgba(223, 110, 18, 0.945);
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        display: flex;
        width: 100%;
        height: 100vh;
        position: fixed;

    }

    .nav-links li a {
        color: white;
    }

    .landing {
        flex-direction: column;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    li.fade {
        opacity: 1;
    }

    .slogan_title {

        font-family: 'Lobster', cursive;
        font-size: 0.4rem;
        color: #1276CB;
        font-weight: bold;
        text-align: center;
    }

}

/*-----------FOOTER ----------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
    position: relative;
    background: rgb(243, 159, 159);
    background: radial-gradient(circle, rgba(243, 159, 159, 1) 27%, rgba(255, 255, 179, 0.7077205882352942) 83%);
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 0.2rem;
}

.menu_footer {

    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

.menu__link {
    font-size: 1.2rem;
    color: #3a3a3a;
    margin: 0 10px;
    /* transition: 0.5s; */
    text-decoration: none;
    /* opacity: 0.75; */
    font-weight: 600;
}

.menu__link:hover {
    opacity: 1;
}



.image_logo {
    width: 130px;
    border: none;
}

@media only screen and (max-width: 600px) and (min-width:400px) {
    .menu__link {
        font-size: 0.8rem;
        color: #3a3a3a;
        margin: 0 10px;
        text-decoration: none;
        font-weight: 600;
    }

    .image_logo {
        width: 80px;
        border: none;
    }

    .menu_footer {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

}