@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


header {
    font-family: 'Acme', sans-serif;

    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    background: #ff8001d6;
    display: flex;
    margin: auto;
    align-items: center;
    height: 50px;

}

header .image_logo {
    width: 100px;
    border: none;

}


header .slogan_title {
    font-size: 2rem;
    color: #fffdfd;
    font-weight: bold;
    position: inherit;
    top: inherit;
    left: inherit;
    margin-bottom: 1px;
    margin-top: 6px;
}




.banner_logo {
    display: flex;
    margin: auto;
    margin-left: 20px;
}

.barre {
    height: 2px;
    width: 100%;
    background-color: black;
}

.barre2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: black;
    height: 2px;
}

.imagelogo {
    width: 70px;
    border: none;
    margin-bottom: 10px;

}

.connected_username {
    font-size: 1.3rem;
}

.span_good {
    color: #fefefa;
}

.slogan_title {
    font-size: 1rem;
    color: #050505;
    font-weight: bold;
    text-align: center;
}


/* -----NAVBAR------- */


nav {
    font-family: 'Acme', sans-serif;

    height: 10vh;
    /* background: #5b78c7; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.nav-links {
    

    list-style: none;
    align-items: center;
    margin-left: auto;
    position: absolute;
    position: fixed;
    height: 100vh;
    width: 0%;

    transition: all 1s ease-out;
    pointer-events: none;
    justify-content: space-around;
    display: none;
    right: 0;
    top: 0;
}

.nav-links li {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}


.nav-links.open {
background-color: #FF8001;   
pointer-events: all;


    opacity: 1;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1s ease-out;
    top: 0;
    align-items: center;
    margin: auto;
    z-index: 1;
    
}


.nav-links li a {
    font-family: 'Acme', sans-serif;
    

    color: rgb(6, 6, 6);
    text-decoration: none;
    font-weight: 600;
    opacity: 1;
    text-align: center;
    font-weight: 600;
    font-size: 40px;}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
}

.line {
    width: 30px;
    height: 3px;
    background: rgb(8, 8, 8);
    margin: 5px;
}

.hamburger {
    cursor: pointer;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 20px;
    margin-left: auto;
    transform: translate(-5%, -50%);
    z-index: 2;
    
}


@media only screen and (max-width: 600px) and (min-width:400px) {
  
    header {
        font-family: 'Acme', sans-serif;

    }
    header .image_logo {
        width: 100px;
        border: none;

    }

    .banner_logo a img {
        width: 64px;
    }


    header .slogan_title {
        font-size: 1.2rem;
        color: #010101;
        position: inherit;
        top: inherit;
        left: inherit;
    }

    h2 {
        text-align: center;
    }

    .line {
        width: 30px;
        height: 3px;
        background: rgb(8, 0, 0);
        margin: 5px;
    }

    nav {
        position: relative;
        width: 100%;
        display: flex;
        margin: auto;
        height: 100px;
    }

    .hamburger {
        cursor: pointer;
        margin-bottom: auto;
        margin-top: auto;
        margin-right: 20px;
        margin-left: auto;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        height: 100vh;
        width: 50%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        position: absolute;
        opacity: 0;
    }


    .nav-links.open {
        background-color: #FF8001;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        display: flex;
        width: 100%;
        height: 100vh;
        position: fixed;

    }

    .nav-links li a {
        color: rgb(8, 8, 8);
    }

    .landing {
        flex-direction: column;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    li.fade {
        opacity: 1;
    }

    .slogan_title {

        font-size: 0.4rem;
        color: #040404;
        text-align: center;
    }

}
@media only screen and (max-width: 397px)  {
    
    header {
        font-family: 'Acme', sans-serif;

    }


    header .image_logo {
        width: 100px;
        border: none;

    }

    .banner_logo a img {
        width: 64px;
    }


    header .slogan_title {
        font-size: 1rem;
        color: #fffdfd;
        position: inherit;
        top: inherit;
        left: inherit;
    }

    h2 {
        text-align: center;
    }

    .line {
        width: 30px;
        height: 3px;
        background: rgb(8, 0, 0);
        margin: 5px;
    }

    nav {
        position: relative;
        width: 100%;
        display: flex;
        margin: auto;
        height: 100px;
    }

    .hamburger {
        cursor: pointer;
        margin-bottom: auto;
        margin-top: auto;
        margin-right: 20px;
        margin-left: auto;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        height: 100vh;
        width: 50%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        position: absolute;
        opacity: 0;
    }


    .nav-links.open {
        background-color: #FF8001;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        display: flex;
        width: 100%;
        height: 100vh;
        position: fixed;

    }

    .nav-links li a {
        color: rgb(8, 8, 8);
    }

    .landing {
        flex-direction: column;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

   

    .slogan_title {

        font-size: 0.4rem;
        color: #040404;
        text-align: center;
    }

}

/*-----------FOOTER ----------- */


.footer {
    left:0px;
    bottom:0px;
    width:100%;
    background: #FF8001;
    display: flex;
    margin: auto;
    align-items: center;
    height: 70px;
    justify-content: space-around;
    z-index: -1;
}


.menu_footer {

    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

.menu__link {
    font-size: 1.6rem;
    color: black;
    margin: 0 10px;
    /* transition: 0.5s; */
    text-decoration: none;
    /* opacity: 0.75; */
}

.menu__link:hover {
    opacity: 1;
}



.image_logo {
    width: 90px;
    border: none;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) and (min-width:400px) {
    .menu__link {
        font-size: 0.8rem;
        color: black;
        margin: 0 10px;
        text-decoration: none;
        font-weight: 600;
    }

    .image_logo {
        width: 80px;
        border: none;
    }

    .menu_footer {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    } }
