@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');


body {

    background: #FFFFFE;
    background-attachment: fixed;
    background-size: cover;

}

#rate {
    color: rgb(155, 25, 45);
    margin: auto;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#rate span {
    font-size: 1.5rem;
}



.list_tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.container_recipe {
    margin-top: 30px;
    box-shadow: 0 15px 30px 1px rgb(52 113 194);
    background: rgb(255 227 176 / 48%);
    text-align: center;
    border-radius: 0.5%;
    margin: 6rem auto;
    width: 70%;
    height: 750px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}


.ingredients {
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 1px 6px 1px rgb(108 108 108);
    padding: 1.6rem;
    text-align: center;
    background-color: white;
}

.container_left {
    margin: auto;
    margin-top: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    /* box-sizing: border-box; */
    align-items: center;
    /* margin: auto; */
}


.divImg {
    display: flex;
    justify-content: center;

    overflow: hidden;
    height: auto;
    width: 80%;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.title {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: #344055;
    margin: 0;
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;

}

.edit_button {
    background-color: #ff2c2c8a;
    font-weight: bold;
}


.author {
    text-align: center;
}


.subtitle {
    display: flex;
    justify-content: center;
    font-family: 'EB Garamond', serif;
    text-align: left;
    font-size: 1.5rem;
    color: #2f3031;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.recipe_steps {
    margin: auto;
    margin-left: 2rem;
    font-family: 'EB Garamond', serif;
    /* text-align: left; */
    font-size: 1rem;
    color: #344055;
}

.container_right {
    /* height: 100%; */
    padding: 5.9rem;
    /* background-color: rgb(255, 255, 255); */
    border-left: 1px solid black;
    /* border-right: 1px solid black; */
    /* margin-right: -12rem; */
}

.ingredient {
    text-align: left;
    max-width: 100%;
}

.recipe-details {

    font-family: "Poppins";
    text-align: left;
    font-size: 1rem;
    color: #344055;
    height: 100%;
    width: 100%;
}

.recipe-details span {
    font-style: oblique;
    margin-bottom: 10px;
    text-decoration: underline;
}


.tab {
    display: inline;
    align-content: center;
    align-items: center;
    margin-top: 10px;

}

.icone {
    display: inline-flex;
    justify-content: space-around;
    width: 20px;
    margin-left: 20px;
    margin-top: 50px;

}


@media only screen and (max-width: 600px) and (min-width:400px) {


    .container_right {
        width: 90%;
        padding: 2rem;
        background-color: rgb(255 242 197);
    }

    .ingredients {
        /* border: 1px solid black; */
        border-radius: 1rem;
        box-shadow: 0 1px 6px 1px rgb(108 108 108);
        padding: 1rem;
        text-align: center;
    }

    .ingredients ol {
        text-align: center;
    }

    .container_left {
        margin: auto;
        margin-top: 0.5rem;
        /* padding: 2rem; */
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        /* box-sizing: border-box; */
        align-items: center;
        /* margin: auto; */
    }

    .container_left h1 {
        margin-top: 20px;
        padding-bottom: 20px;

    }

    .container_left .Steps h2 {
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .container_left .Steps {
        margin-bottom: 20px;
        margin-top: 0;
        padding: 1rem;
    }



    .container_left .Steps ol {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .container_left .Steps ol>li {
        margin-bottom: 10px;
    }

    .container_recipe {

        flex-direction: column;
        background: rgba(255, 255, 255, 0.90);
        border-radius: 5px;
        overflow: hidden;
        margin: 3em auto;
        margin-top: 6rem;
        height: auto;
        width: 80%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .container_recipe .ingredients {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .recipe-details {
        font-family: "Poppins";
        text-align: center;
        font-size: 1rem;
        color: #344055;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .recipe_steps {

        font-family: 'EB Garamond', serif;
        margin-right: 35px;
        font-size: 1rem;
        color: #344055;
    }

    .list_tab {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .tab {
        display: flex;
        align-content: inherit;
        align-items: inherit;
        gap: 1rem;
        margin: auto;

    }

    .tab img {
        margin: auto;
    }

    .tab span {
        margin: auto;
    }
}