@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');


body {
    
    background: #FFFFFE;
    background-attachment: fixed;
    background-size: cover;

}

#moncercle{
    margin: 4px 0 0 0;
    text-align:center;
    font-weight: bold;
    color: #000000;
    background:rgba(155, 25, 44, 0.639);
    border-radius:50%;
    width:30px;
    height:30px;
    
  }

.list_tab {
    display: flex;
    justify-content: space-between;

}

.container_recipe {
    
    box-shadow: 0 15px 30px 1px rgb(52, 113, 194);
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 10em auto;
    height: auto;
    width: 80%;
    border: 1px solid black;
    display: flex;
    /*justify-content: flex-start;
    align-items: stretch; par défaut les deux*/


}

.container_left {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 70%;
    /* par rapport à la box */
    box-sizing: border-box;
    /* padding donc la taille prends pas en compte si on est en content-box */


}

.recipe_image {
    display: flex;
    justify-content: center;

    overflow: hidden;
    height: auto;
    width: auto;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.title {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #344055;
    margin: 0;
    border-bottom: 1px solid grey;
    margin-bottom: 0.5rem;

}

.subtitle {
    display: flex;
    justify-content: center;
    font-family: 'EB Garamond', serif;
    text-align: left;
    font-size: 16px;
    color: #2f3031;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.recipe_steps {
    font-family: 'EB Garamond', serif;
    text-align: left;
    font-size: 14px;
    color: #344055;
}

.container_right {
    flex-basis: 40%;
    background-color: rgb(255, 255, 255);
}

.ingredients ol {
    text-align: center;
}

.recipe-details {

    font-family: "Poppins";
    text-align: left;
    font-size: 15px;
    color: #344055;
    padding: 30px;
    height: 100%;
    float: left;
    width: auto;

}

.recipe-details span {
    font-style: oblique;
    margin-bottom: 10px;
    text-decoration: underline;
}


.tab {
    display: inline;
    align-content: center;
    align-items: center;
    margin-top: 10px;

}

.icone {
    display: inline-flex;
    justify-content: space-around;
    width: 20px;
    margin-left: 20px;
    margin-top: 50px;

}


@media only screen and (max-width: 600px) and (min-width:400px) {
    .container_recipe {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .container_right {
        flex-basis: 40%;
        background-color: rgb(255, 227, 204);
    }

    .ingredients ol {
        text-align: center;
    }



    .container_left h1 {
        margin-top: 20px;
        padding-bottom: 20px;

    }

    .container_left .Steps h2 {
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .container_left .Steps {
        margin-bottom: 20px;
        margin-top: 0;
    }



    .container_left .Steps ol {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .container_left .Steps ol>li {
        margin-bottom: 10px;
    }

    .container_recipe {
        background: rgba(255, 255, 255, 0.90);
        margin-bottom: 3rem;
        border-radius: 5px;
        overflow: hidden;
        margin: 3em auto;
        height: auto;
        width: 80%;
        border: 1px solid black;
        display: flex;
    }

    .container_recipe .ingredients {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .recipe-details {
        position: inherit;
        float: none;
    }

    .list_tab {
        display: flex;
        justify-content: space-between;

    }

    .tab {
        display: flex;
        align-content: inherit;
        align-items: inherit;
        gap: 1rem;
        margin: auto;

    }

    .tab img {
        margin: auto;
    }

    .tab span {
        margin: auto;
    }
}