/* .image_container {

    padding: 15px;
} */
body {
    background: #FFFFFE;

}


#rate {
    color: rgb(155, 25, 45);
    font-size: 2rem;
}


#rate span {
    font-size: 1.5rem;
}

.title_recent_recipes {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2.4rem;
    text-align: center;

}

.title_popular_recipes {
    font-family: 'Berkshire Swash', cursive;

    font-size: 2.4rem;
    text-align: center;

}

.link_edito {
    font-family: 'Berkshire Swash', cursive;
    font-size: 13px;
    width: 50px;
    height: 24px;
    background-color: rgb(153, 189, 251);
    border-radius: 3px;
}

.banner_edito {
    font-family: 'Lobster', cursive;
    margin-bottom: 15px;
    margin-left: 15px;
    display: inline-block;
    font-size: 2rem;
    color: hsl(200, 100%, 1%);
}

.recipe_random_title {
    font-family: 'Roboto Slab', sans-serif;
}

.cinq {
    color: #fb0703;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-top: 80px;


}

.carte {
    flex-shrink: 0;
    width: 330px;

    background: #f6f5e9;
    display: grid;
    grid-template: repeat(2, 100px) 50px repeat(2, 100px) 80px / repeat(3, 110px);
    border-radius: 5px;
    overflow: hidden;

    border: solid #000102;
}

.divImg {
    max-width: 100%;
    max-height: 100%;
    grid-area: 1 / 1 / 3 / 4;
    background-size: cover;

}


.titre {
    grid-area: 3 / 1 / 4 / 4;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.icone {
    width: 24px;
    margin-right: 10px;
}

span {
    font-weight: 600;
}

.info {
    grid-area: 5 / 1 / 6 / 4;
    padding: 5px 25px;
    font-size: 14px;
    text-align: justify;
}

.btnSection {
    grid-area: 6 / 1 / 7 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSection a {
    display: block;
    width: 200px;
    height: 30px;
    background: rgb(155, 25, 45);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e2e2;
    border-radius: 5px;
}



.recipe_button {
    margin: 0%;
    background-color: #c7ecee;

}

@media only screen and (max-width: 600px) and (min-width:400px) {

    .carte {
        flex-shrink: 0;
        width: 330px;
        /* height: 530px; */
        /* transform: translate(-50%, -50%); */
        background: #f6f5e9;
        display: grid;
        grid-template: repeat(2, 100px) 50px repeat(2, 100px) 80px / repeat(3, 110px);
        border-radius: 5px;
        overflow: hidden;
        border: solid #000102;
    }
}