<%- include ("partials/header") %>

<link rel="stylesheet" href="/css/addRecipeForm.css" />

<div class="title">
    <h3>Ajouter une recette</h3>
</div>
<div class="container">

    <section class="form_container">
        <form enctype="multipart/form-data" method="POST" class="form_recipe" action="#">
            <input type=" text" name="title" placeholder="Titre de la recette" required /> <br>
            <textarea name="description" rows="5" placeholder="Description" required></textarea><br>
            <textarea name="steps" rows="5" placeholder="Les étapes de la recette" required></textarea><br>
            <textarea name="ingredientsList" rows="5" placeholder="La liste des ingrédients" required></textarea><br>
            <input class="picture" type="file" name="uploaded_file" placeholder="picture"/>
            <h3 class="subtitle">Difficulté</h3>
            <select class="difficulty" name="difficulty" id="difficulty">
                <option value="Très facile">Très facile</option>
                <option value="Facile">Facile</option>
                <option value="Moyen">Moyen</option>
                <option value="Difficile">Difficile</option>
                <input class="option" type="text" name="cookingTime" placeholder="Temps de préparation en minutes" required />
            </select>
            <button class="button" type="submit">PUBLIER LA RECETTE</button>
        </form>

    </section>


</div>


<%- include ("partials/footer") %>