<%- include ("partials/header") %>

<div class="form_container">
  <form>
    <h1>Se connecter</h1>

    <div class="inputs">
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Mot de passe">
    </div>

    <p class="inscription"> <span>Créer un compte</span>. <span>Mot de passe oublié</span> .</p>
    <div align="center">

      <button type="submit">Se connecter</button>
    </div>
  </form>
</div>


<%- include ("partials/footer") %>