<%- include ("partials/header") %>
<link rel="stylesheet" href="/css/dashboard.css" />

<div class="container_dashboard">


    <div class="menu_dashboard">
        <h2 class="user_name">( User Name )</h2>

        <ul class="dashboard_links">
            <!-- <li class="profile_link">
               
                    <span class="material-symbols-outlined">person</span>
                    Profil
                </a>
            </li> -->
            <li class="add_recipe">

                <a href="/admin/ajouterunerecette">
                    <span class="material-symbols-outlined">add</span>
                    Ajouter une recette
                </a>

            </li>
        </ul>
    </div>

    <div class="right_side">
        <h2 class="subtitle"> Gestion des recettes</h2>
        <div class="info_list">

            <div class="manage_list">
                <div class="list_mobile">
                    <div class="user">
                        User Name
                    </div>
                    <div class="recipe_title">
                        Titre de la recette...........
                    </div>
                    <div class="date">
                        <!-- recuperer le updatedAt de la BDD-->
                        10/11/2022 (heure locale)
                    </div>
                </div>
                <div class="mobile_button">
                    <button class="edit_button" type="submit">Modifier</button>
                    <button class="delete_button" type="submit">Supprimer</button>
                </div>
            </div>
            <div class="manage_list">
                <div class="list_mobile">
                    <div class="user">
                        User Name
                    </div>
                    <div class="recipe_title">
                        Titre de la recette...........
                    </div>
                    <div class="date">
                        <!-- recuperer le updatedAt de la BDD-->
                        10/11/2022 (heure locale)
                    </div>
                </div>
                <div class="mobile_button">
                    <button class="edit_button" type="submit">Modifier</button>
                    <button class="delete_button" type="submit">Supprimer</button>
                </div>
            </div>
            <div class="manage_list">
                <div class="list_mobile">
                    <div class="user">
                        User Name
                    </div>
                    <div class="recipe_title">
                        Titre de la recette...........
                    </div>
                    <div class="date">
                        <!-- recuperer le updatedAt de la BDD-->
                        10/11/2022 (heure locale)
                    </div>
                </div>
                <div class="mobile_button">
                    <button class="edit_button" type="submit">Modifier</button>
                    <button class="delete_button" type="submit">Supprimer</button>
                </div>
            </div>
            <div class="manage_list">
                <div class="list_mobile">
                    <div class="user">
                        User Name
                    </div>
                    <div class="recipe_title">
                        Titre de la recette...........
                    </div>
                    <div class="date">
                        <!-- recuperer le updatedAt de la BDD-->
                        10/11/2022 (heure locale)
                    </div>
                </div>
                <div class="mobile_button">
                    <button class="edit_button" type="submit">Modifier</button>
                    <button class="delete_button" type="submit">Supprimer</button>
                </div>
            </div>
            <div class="manage_list">
                <div class="list_mobile">
                    <div class="user">
                        User Name
                    </div>
                    <div class="recipe_title">
                        Titre de la recette...........
                    </div>
                    <div class="date">
                        <!-- recuperer le updatedAt de la BDD-->
                        10/11/2022 (heure locale)
                    </div>
                </div>
                <div class="mobile_button">
                    <button class="edit_button" type="submit">Modifier</button>
                    <button class="delete_button" type="submit">Supprimer</button>
                </div>
            </div>
            <div class="manage_list">
                <div class="list_mobile">
                    <div class="user">
                        User Name
                    </div>
                    <div class="recipe_title">
                        Titre de la recette...........
                    </div>
                    <div class="date">
                        <!-- recuperer le updatedAt de la BDD-->
                        10/11/2022 (heure locale)
                    </div>
                </div>
                <div class="mobile_button">
                    <button class="edit_button" type="submit">Modifier</button>
                    <button class="delete_button" type="submit">Supprimer</button>
                </div>
            </div>
            <div class="manage_list">
                <div class="list_mobile">
                    <div class="user">
                        User Name
                    </div>
                    <div class="recipe_title">
                        Titre de la recette...........
                    </div>
                    <div class="date">
                        <!-- recuperer le updatedAt de la BDD-->
                        10/11/2022 (heure locale)
                    </div>
                </div>
                <div class="mobile_button">
                    <button class="edit_button" type="submit">Modifier</button>
                    <button class="delete_button" type="submit">Supprimer</button>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include ("partials/footer") %>