<%- include ("partials/header") %>
  <link rel="stylesheet" href="/css/components/HomePage/index.css" />


  <div class="title-feature">
    <h1> 5 recettes aléatoires pour votre <span> plaisir </span> !</h1>
  </div>


  <section>


    <div class="swiper mySwiper container">

      <div class="swiper-wrapper content">

        <div class="swiper-slide card">

          <% randomRecipes.forEach((recipe)=> { %>
            <div class="card-content">


              <div class="image">


                <img src="img/recipes/<%= recipe.picture %>" alt="recipes">




              </div>

              <div class="media-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-github"></i>
              </div>

              <div class="name-profession">
                <span class="name">Ally Pearson</span>
                <span class="profession">Web Developer</span>
              </div>



              <div class="button">
                <button class="aboutMe">About Me</button>
                <button class="hireMe">Hire Me</button>

              </div>

            </div>







        </div>




      </div>


    </div>

    </div>
    <% }) %>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

      <div class="swiper-pagination"></div>

  </section>





  <%- include ("partials/footer") %>
    <script src="/js/Swiper.js"></script>