
<%- include ("partials/header") %>

<link rel="stylesheet" href="css/presentation.css">

<title>About us</title>

  
  <body>
    <!-- -----------------------------------------------company---------------------------------------------------------------- -->
    <div class="company">
      <div class="img">
        <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
      </div>
      <div class="company-info">
        <span>O'FOOD <span class="our">WEBSITE</span></span>
        <p>
          <b>O'Food</b> est un site proposant de nombreuses recettes. Notre but est de vous donner envie de cuisiner d'avantage, dans de meilleures conditions et avec une meilleure hygiène de vie. On sait aujourd'hui que l'alimentation a un
          impact direct sur notre façon de penser et notre santé, c'est pourquoi nous faisons notre possible pour vous aider !
        </p>
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
    <div class="team"><span>OUR TEAM</span></div>
    <div class="container">
      <div class="card">
        <div class="card-info">
          <h3 class="card-title loading"><span>Hugo <span class="yellow-surname">Hugz</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Developper Front-End</span> <br>
              Réferent Technique, Developper Front & Scrum Master.<br>
              Email: <a href="mailto:hugo.ham140@gmail.com">hugo.ham140@gmail.com</a>
            </span>
          </p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-info">
          <h3 class="card-title loading"><span>Dylan <span class="yellow-surname">Petit Soleil</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Lead Developper Front-End</span> <br>
              <p> Lead Developper Front - Git Master & Référent Technique.
                Email: <a href="mailto:pro.stockinger@gmail.com">pro.stockinger@gmail.com</a>
              </p>
            </span>
          </p>
       
        </div>
      </div>

      <div class="card">
        <div class="card-info">
          <h3 class="card-title loading"><span>Yasmina <span class="yellow-surname">Foody</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Developper Back-End </span> <br>
              <p> Developper Back-End, Référente Technique & Product Owner.
                Email: <a href="mailto:dev.yasmina.movileanu@gmail.com">dev.yasmina.movileanu@gmail.com</a>
              </p>
              <br>
              
            </span>
          </p>
       
        </div>
      </div>
      <div class="card">
        <div class="card-info">
          <h3 class="card-title loading"><span>Sami <span class="yellow-surname">Michel</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Lead Developper Back-End </span> <br>
              <p> Lead Developper Back-End & Référent Technique.
                Email: <a href="mailto:sami.barchouchi@gmail.com">sami.barchouchi@gmail.com</a>
              </p>
            </span>
          </p>
         
        </div>
      </div>
    </div>

    <script src="js/aboutPage.js"></script>
    <%- include ("partials/footer") %>