<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/test.css">
    <title>Page test</title>
</head>
<body>
    <header id="header-banner" class="banner">
        <div class="logo"></div>
        <h1 class="banner__title"><i class="title-span title-span_o">O'</i>Food <i class="title-span">Good</i> Mood !</h1>
        <button id="menu-toggler" class="banner__button">Menu</button>
        <nav class="menu">  
            <a class="menu__item" href="/">Accueil</a>
        
            <% if (!locals.user) { %>
            <a class="menu__item" href="/connexion">Connexion</a>
            <% } else { %>
            <a class="menu__item" href="/dashboard">Mon profil</a>
            <a class="menu__item" href="/deconnexion">Déconnexion</a>
            <% } %>
        
            <a class="menu__item" href="/recettes">Recettes</a>
            <a class="menu__item" href="/presentation">Qui sommes-nous</a>          
        </nav>
    </header>
    <main>

        <div class="container">
            <h2 class="container__title">Les <i class="container__title-number">5</i> recettes les mieux notées</h2>
            <div class="cards-container">

                <% recipes.forEach((recipe) => { %>

                <div class="card">
                    <div class="picture-container">
                        <img class="card__picture" src="../img/pate carbo.jpg" alt="photo de la recette">
                    </div>
                    <h3 class="card__title"><%= recipe.title %></h3>
                    <div class="card__infos">
                        <div class="card__info-item"><%= recipe.cookingTime %> mn</div>
                        <div class="card__info-item"><%= recipe.rate %> &#x2605;</div>
                        <div class="card__info-item"><%= recipe.difficulty %></div>
                    </div>
                </div>

                <% }) %>

            </div>
        </div>

    </main>
    <footer>

    </footer>
    <script src="../script/base.js"></script>
</body>
</html>