
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>O'Food</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" src="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/reset.css" />

  <link rel="stylesheet" href="/css/home.css" />

</head>

<body>
  <header>
    <div class="banner_logo">
      <a href="/Front/accueil.html">
        <img class="image_logo" src="/img/logo.png" alt="Logo" />
      </a>
    </div>

    <div class="banner_edito">
      <h2 class="edito">Article du jour :</h2>
      <a href=""> <button class="link_edito"> Lire </button> </a>
    </div>
    <h1 class="slogan_title">"<span class="span_good">O</span>'Food, <span class="span_good">Good</span> Mood"</h1>
    <br>
    <br>

  </header>