
<%- include('./partials/header') %>



    <h1 class="title_popular_recipes">
      <br>
        Les <span class="cinq"> 5 </span>recettes les plus populaires
        <hr class="barre2" />    </h1>

    <!-- le container qui va prendre en charge la totalité du contenu de la page web -->

    <div class="container">
      <div class="carte">
        <div class="divImg"></div>

        <div class="titre">Tartes aux fraises</div>

        <div class="tab">
          <img src="/Front/img/sablier.svg" alt="sablier" class="icone" />
          <span>23</span>
        </div>
        <div class="tab">
          <img src="/Front/img/liste.svg" alt="ingredients" class="icone" />
          <span>4</span>
        </div>
        <div class="tab">
          <img src="/Front/img/difficulty.svg" alt="difficulty" class="icone" />
          <span>Easy</span>
        </div>

        <div class="info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum
          explicabo maxime placeat tempore et expedita earum voluptas at vel.
        </div>

        <div class="btnSection">
          <a href="#">La recette</a>
        </div>
      </div>

      <div class="carte">
        <div class="divImg"></div>

        <div class="titre">
          Tartes aux fraises
        </div>
        <div class="tab">
          <img src="/Front/img/sablier.svg" alt="sablier" class="icone" />
          <span>23</span>
        </div>
        <div class="tab">
          <img src="/Front/img/liste.svg" alt="ingredients" class="icone" />
          <span>4</span>
        </div>
        <div class="tab">
          <img src="/Front/img/difficulty.svg" alt="difficulty" class="icone" />
          <span>Easy</span>
        </div>

        <div class="info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum
          explicabo maxime placeat tempore et expedita earum voluptas at vel.
        </div>

        <div class="btnSection">
          <a href="#">La recette</a>
        </div>
      </div>

      <div class="carte">
        <div class="divImg"></div>

        <div class="titre">Tartes aux fraises</div>

        <div class="tab">
          <img src="/Front/img/sablier.svg" alt="sablier" class="icone" />
          <span>23</span>
        </div>
        <div class="tab">
          <img src="/Front/img/liste.svg" alt="ingredients" class="icone" />
          <span>4</span>
        </div>
        <div class="tab">
          <img src="/Front/img/difficulty.svg" alt="difficulty" class="icone" />
          <span>Easy</span>
        </div>

        <div class="info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum
          explicabo maxime placeat tempore et expedita earum voluptas at vel.
        </div>

        <div class="btnSection">
          <a href="#">La recette</a>
        </div>
      </div>

      <div class="carte">
        <div class="divImg"></div>

        <div class="titre">Tartes aux fraises</div>

        <div class="tab">
          <img src="/Front/img/sablier.svg" alt="sablier" class="icone" />
          <span>23</span>
        </div>
        <div class="tab">
          <img src="/Front/img/liste.svg" alt="ingredients" class="icone" />
          <span>4</span>
        </div>
        <div class="tab">
          <img src="/Front/img/difficulty.svg" alt="difficulty" class="icone" />
          <span>Easy</span>
        </div>

        <div class="info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum
          explicabo maxime placeat tempore et expedita earum voluptas at vel.
        </div>

        <div class="btnSection">
          <a href="#">La recette</a>
        </div>
      </div>

      <div class="carte">
        <div class="divImg"></div>

        <div class="titre">Tartes aux fraises</div>

        <div class="tab">
          <img src="/Front/img/sablier.svg" alt="sablier" class="icone" />
          <span>23</span>
        </div>
        <div class="tab">
          <img src="/Front/img/liste.svg" alt="ingredients" class="icone" />
          <span>4</span>
        </div>
        <div class="tab">
          <img src="/Front/img/difficulty.svg" alt="difficulty" class="icone" />
          <span>Easy</span>
        </div>

        <div class="info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum
          explicabo maxime placeat tempore et expedita earum voluptas at vel.
        </div>

        <div class="btnSection">
          <a href="#">La recette</a>
        </div>
      </div>
    </div>

    <h1 class="title_recent_recipes">
      Les <span class="cinq"> 5 </span>recettes les plus récentes
    </h1>
    <hr class="barre2" />

    <div class="container">
        <div class="carte">
          <div class="divImg"></div>
  
          <div class="titre">Tartes aux fraises</div>
  
          <div class="tab">
            <img src="/Front/img/sablier.svg" alt="sablier" class="icone" />
            <span>23</span>
          </div>
          <div class="tab">
            <img src="/Front/img/liste.svg" alt="ingredients" class="icone" />
            <span>4</span>
          </div>
          <div class="tab">
            <img src="/Front/img/difficulty.svg" alt="difficulty" class="icone" />
            <span>Easy</span>
          </div>
  
          <div class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum
            explicabo maxime placeat tempore et expedita earum voluptas at vel.
          </div>
  
          <div class="btnSection">
            <a href="#">La recette</a>
          </div>
        </div>
  
        <div class="carte">
          <div class="divImg"></div>
  
          <div class="titre">
            Tartes aux fraises
          </div>
          <div class="tab">
            <img src="/Front/img/sablier.svg" alt="sablier" class="icone" />
            <span>23</span>
          </div>
          <div class="tab">
            <img src="/Front/img/liste.svg" alt="ingredients" class="icone" />
            <span>4</span>
          </div>
          <div class="tab">
            <img src="/Front/img/difficulty.svg" alt="difficulty" class="icone" />
            <span>Easy</span>
          </div>
  
          <div class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum
            explicabo maxime placeat tempore et expedita earum voluptas at vel.
          </div>
  
          <div class="btnSection">
            <a href="#">La recette</a>
          </div>
        </div>
  
        <div class="carte">
          <div class="divImg"></div>
  
          <div class="titre">Tartes aux fraises</div>
  
          <div class="tab">
            <img src="/Front/img/sablier.svg" alt="sablier" class="icone" />
            <span>23</span>
          </div>
          <div class="tab">
            <img src="/Front/img/liste.svg" alt="ingredients" class="icone" />
            <span>4</span>
          </div>
          <div class="tab">
            <img src="/Front/img/difficulty.svg" alt="difficulty" class="icone" />
            <span>Easy</span>
          </div>
  
          <div class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum
            explicabo maxime placeat tempore et expedita earum voluptas at vel.
          </div>
  
          <div class="btnSection">
            <a href="#">La recette</a>
          </div>
        </div>
  
        <div class="carte">
          <div class="divImg"></div>
  
          <div class="titre">Tartes aux fraises</div>
  
          <div class="tab">
            <img src="/Front/img/sablier.svg" alt="sablier" class="icone" />
            <span>23</span>
          </div>
          <div class="tab">
            <img src="/Front/img/liste.svg" alt="ingredients" class="icone" />
            <span>4</span>
          </div>
          <div class="tab">
            <img src="/Front/img/difficulty.svg" alt="difficulty" class="icone" />
            <span>Easy</span>
          </div>
  
          <div class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum
            explicabo maxime placeat tempore et expedita earum voluptas at vel.
          </div>
  
          <div class="btnSection">
            <a href="#">La recette</a>
          </div>
        </div>
  
        <div class="carte">
          <div class="divImg"></div>
  
          <div class="titre">Tartes aux fraises</div>
  
          <div class="tab">
            <img src="/Front/img/sablier.svg" alt="sablier" class="icone" />
            <span>23</span>
          </div>
          <div class="tab">
            <img src="/Front/img/liste.svg" alt="ingredients" class="icone" />
            <span>4</span>
          </div>
          <div class="tab">
            <img src="/Front/img/difficulty.svg" alt="difficulty" class="icone" />
            <span>Easy</span>
          </div>
  
          <div class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum
            explicabo maxime placeat tempore et expedita earum voluptas at vel.
          </div>
  
          <div class="btnSection">
            <a href="#">La recette</a>
          </div>
        </div>
      </div>

    <footer></footer>
  </body>
</html>
